<!DOCTYPE html>
<html ng-app="buzzIn">
	<head>
		<base href="/" />
		<title>!nterfeud</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Inknut+Antiqua:600' rel='stylesheet' type='text/css'>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body ng-controller="MainController" class="container">

		<h1 ng-if="tooManyUsers">Sorry, too many players already!</h1>
			<div ng-if="!tooManyUsers">
				<ui-view></ui-view>
			</div>

		<script src="socket.io/socket.io.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-ui-router.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="lib/howler.js"></script>
		<script src="lib/app.js"></script>
		<script src="directives/scoreboard/scoreboard.js"></script>
		<script src="controllers/ScoreCtrl.js"></script>
		<script src="factories/ScoreFactory.js"></script>
		<script src="factories/SoundFactory.js"></script>
		<script src="factories/Socket.js"></script>
	</body>
</html>